

@media (min-width: 550px){

    .line-break-mob {
        display: none;
   }

    .main-header span{
        font-size: 2.2rem;
    }
    .skills-header .letter,
    .project-header .letter {
        font-size: 5rem;
}
    
}

@media (min-width: 768px){

    
    .project-container {
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 20px;
        width: 80vw;
    }

    .main-header span{
        font-size: 2.5rem;
    }

    .header-div {
        padding-top: 200px;
    }

    .skills-header .letter,
    .project-header .letter {
        font-size: 7rem;
}

}

@media (min-width: 1024px){

    
    
}


    