
@media (min-width: 768px){

    
    .project-container {
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 20px;
        width: 80vw;
    }

    .main-header span{
        font-size: 2.5rem;
    }

    .header-div {
        padding: 250px 20px 0 40px;
    }

}

@media (min-width: 1024px){

    
    
}


    